@font-face {
  font-family: "2amFont";
  src: url("fonts/BigShouldersStencilText-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("fonts/BigShouldersStencilText-SemiBold.woff2") format("woff2"); /* Modern Browsers */
}

body{
	background-color: #332255;
}

h1{
	color: #eee;
	text-align: center;
	font-family: "2amFont";
	font-size: 48pt;
}

li{
	font-family: "2amFont";
	font-size:24pt;
}