body{
	background-color: #ffffaa;
}

h1{
	text-align: center;
	font-family: "Courier";
}

#games{
	border:2px solid #000;
}


.cover{
	height: 256px;
}

.title{
	text-align: center;
}

.descriptionbox{
	outline: solid 1px #000;
}

.description{
	font-size: 12pt;
}

.play{
	color: #3344ff;
}

.play:hover{
	color: #ffff22;
}

.gamelink:visited{
	color: #000;
}

a{
	text-decoration: none;
}
