body
{
	background-color: #101010;
}

button
{
	display: table;
    margin: 0 auto;
}

#content
{
	background-color: #000;
	display: table;
    margin: 0 auto;
}

#screen
{
	display: table;
    margin: 0 auto;
	font-family: monospace;
	font-size: 16px;
	line-height: 75%;
	word-spacing: -5.3px;
	float:left;
	border: 1px solid #fff;
	color: #ffffff;
	font-weight: bold;
}

.color
{
	display: inline;
}

#output
{
	display: table;
	margin: 0 auto;
	width: 400px;
	text-align: center;
	font-family: monospace;
	float: bottom;
}

.output
{
	display: inline;
	text-align: center;
	margin: 0 auto;
	
	font-size: 10px;
	font-family: monospace;
	line-height: 75%;
}

.scr
{
	font-family: monospace;
	font-size: 16px;
	color: #fff;
	display: inline;
	text-align: center;
	float: left;
	width: 160px;
	height: 300px;
	border: 1px solid #fff;
}

#m
{
	text-align: center;
	display: table;
	margin: 0 auto;
	color: #888888;
}